@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Open+Sans:wght@400;800&family=Rock+Salt&display=swap');

/*HOME PAGE*/
#background{
    height: 725px;
    background-color: #EBF2FA;
    grid-column: 1/11;
    grid-row: 4/9;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
    opacity: 0.9;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;    
    color: white;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body{
    background-color: #EBF2FA;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
h4{
    color: #427AA1;
}
header{
    display: grid;
    grid-template-columns: 200px auto;
    background-color:#EBF2FA
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
main section h2{
    font-family: "Rock Salt", "Cuprum", sans-serif;
    color: #427AA1;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #427AA1;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #A5BE00;
    color: white;
}
.book, .join{
    background-color: #EBF2FA;
    color: #427AA1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #A5BE00;
    color: white;
}
.button-box{
    text-align: center;
}
.card-img{
    border: 10px solid #427AA1;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid, .rivers-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.home-title{
    color: #427AA1;
    font-family: "Rock Salt", "Cuprum", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
.msg{
    background-color: #EBF2FA;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: #427AA1;
    font-family: "Rock Salt", "Cuprum", sans-serif;
}
.msg p{
    background-color: #427AA1;
    color: white;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.mountains{
    width: 100%;
    border: 10px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
footer{
    background-color: #A5BE00;
    color: black;
    margin-top: 100px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #427AA1;
    text-decoration: none;
}
footer a:hover{
    color: #EBF2FA;
}
footer p {
    font-size: 1.2em;
    font-family: "Open Sans", Helvetica, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
} 
footer .social img {
    padding-top: 15px;
}

/*RIVERS PAGE*/

#hero-rivers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-rivers-box {
    margin-top: 100px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-rivers-img {
    width: 100%;
    opacity: 1;
}
#hero-rivers-msg {
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    
}
#hero-rivers-msg h1{
    text-align: center;
    color: white;
    font-family: "Rock Salt", "Cuprum", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#hero-rivers-msg h4 {
    text-align: center;    
    color: white;
}
#separator {
    height: 20px;
    background-color: #A5BE00;
    color: #427AA1;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#separator-box {
    height: 20px;
    text-align:left;
    text-decoration: none;
}
#description-msg {
    width: auto;
    margin: auto;
    grid-column: 2/10;
    grid-row: 5/6;
}
.hipertext{
    text-decoration: none;
}
.hipertext:hover{
    text-decoration: none;
    color: white;
}
.rivers-grid section h2 {
    margin-top: 10px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: .7em;
    text-align: center;
    color: #427AA1;
}
.rivers-card-img{
    border: 5px solid #6f7364;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card-img:hover{
    opacity: .7;
    transform: scale(1.05);
}
.rivers-card-idaho{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.rivers-card-utah{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rivers-card-arizona{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
} 
.descript-msg{
    text-align: justify;
}
.descript-msg h1{
    font-family: "Rock Salt", "Cuprum", sans-serif;
    color: #427AA1;
}
.descript-msg h1, .descript-msg h4{
    text-align: center;
}
.descript-msg h3{
    margin-top: 100px;
    background-color: #427AA1;
    color: #EBF2FA;
}
.back, .back-msg{
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}
.back:hover{
    text-decoration: none;
    color: #A5BE00;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            